#macysheader{
	background-image:url('../images/EventsHeader.jpg');
	margin-top: 21px;
    height: 263px;
}
img { -webkit-filter: grayscale(80%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}